<!DOCTYPE html>
<html lang="en">
<head>
    <title>curriculum vitae</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 Resume/CV Template for Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico">  
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- FontAwesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="assets/css/orbit-1.css">
</head> 

<body>
    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile" src="assets/images/0.png" alt="" />
                <h1 class="name">Aniss Hadj Slimane</h1>
                <h3 class="tagline">Apprenti Developper Web</h3>
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fas fa-envelope"></i><a href="mailto: yourname@email.com">hslimaneanis@gmail.com</a></li>
                    <li class="phone"><i class="fas fa-phone"></i>07 83 36 90 76</a></li>
                    <li class="linkedin"><i class="fab fa-linkedin-in"></i><a href="https://www.linkedin.com/in/aniss-hadj-slimane-538b98125/" target="_blank">Linkedin</a></li>
                    <li class="github"><i class="fab fa-github"></i><a href="https://www.github.com/Darkusse" target="_blank">Github</a></li>
                    <li class="twitter"><i class="fab fa-twitter"></i><a href="https://twitter.com/3rdwave_themes" target="_blank">@Twitter</a></li>
                </ul>
            </div><!--//contact-container-->
            
            <div class="languages-container container-block">
                <h2 class="container-block-title">Languages</h2>
                <ul class="list-unstyled interests-list">
                    <li>Anglais <span class="lang-desc">Niveau correct.</span></li>
                    <li>Frencais <span class="lang-desc">Bilingue.</span></li>
                    <li>Arabe <span class="lang-desc">Langue Maternelle.</span></li>
                </ul>
            </div><!--//interests-->
            <div class="qualite-container container-block">
                <h2 class="container-block-title">Qualite</h2>
                <ul class="list-unstyled interests-list">
                    <li>Autonome</li>
                    <li>Curieux</li>
                    <li>Capacite d'ecoute</li>
					<li>Oragnise</li>
					<li>travail en equipe</li>
                </ul>
            </div><!--//interests-->
			
            <div class="interests-container container-block">
                <h2 class="container-block-title">DIVERS</h2>
                <ul class="list-unstyled interests-list">
                    <li>Littérateurs</li>
                    <li>Sport</li>
                    <li>Membre d'une association</li>
					<li>Culture Japonaise</li>
                </ul>
            </div><!--//interests-->
            
        </div><!--//sidebar-wrapper-->
        
        <div class="main-wrapper">
            <section class="section experiences-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-briefcase"></i></span>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Ingenieur en informatique</h3>
                            <div class="time">Sep 2015 - Juin 2017</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href=""http://www.cosider-groupe.dz/fr/cosider-canalisations">Entreprise Cosider Canalisation, Oran </a>
						</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Aide en contrôle de gestion :</br>
			- Suivi du rapport et des tableaux de bord détaillés de la société.</br>
															Ingénieur en informatique :</br>
			-installation et configuration des logiciel sur les poste des personnelles.</br>
		-diagnostique et résolution d’incident système et réseaux.</br>
							- Gérance environnement technique : Windows XP/7, Linux, Pack office 2007/2013/2015,
								Firewall, wifi. </p>
                    </div><!--//details-->
                </div><!--//item-->
				
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Informatique</h3>
                            <div class="time">Mar 2015 - Juin 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Cabinet d’avocat, Oran</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>-Gestion du cabinet et l’archivage sécurisé de toutes les données.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Stage licence en reseau informatique</h3>
                            <div class="time">Mars 2012 - juin 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">
						<a href="https://sonatrach.com/"> Sonatrach Aval, Oran</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Mon Stage ma permis d'avoir les connaissances nécessaires pour installer, 
						faire fonctionner, configurer et vérifier les réseaux IPv4 et IPv6, y compris la configuration des commutateurs LAN</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
            <section class="section summary-section">
                <h2 class="section-title"> <span class="icon-holder"> <i class="fas fa-user"></i></span>FORMATION / DIPLOMES</h2>
				<div class="item">
                    <div class="meta">
                        <div class="upper-row">
						<div class="summary">
                    <p> Licence pro en informatique </p> </div><!--//summary-->
					<div class="company"><a href="https://www.univ-paris8.fr/-Licence-professionnelle-Design-web-mobile-613-">Univeriste Paris 8  </a>
                      </div>
                      <div class="time">2019 - 2020</div>					
					
					</div></div>
					  <div class="details">
					    <p>Designe Web et Mobile</p>  
                       
                    </div><!--//details-->
					</div>
				<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                <div class="summary">
                    <p> Master en Informatique</p> </div><!--//summary-->
					<div class="company"><a href="https://www.univ-oran1.dz/">Univeriste D'Oran  </a>
                      </div>
                      <div class="time">2012 - 2014</div>					
					  </div></div>
					  <div class="details">
                        <p>Option ingénierie des données et technologie web
					Université d’Oran Mémoire de fin d’étdes portant sur Analyse du comportement des usagers sur les réseaux sociaux : Cas des Algériens sur le réseau Twitter.</p>  
                       
                    </div><!--//details-->
					</div>
					<div class="item">
                    <div class="meta">
                        <div class="upper-row">
						<div class="summary">
                    <p> Licence 3 en Informatique</p> </div><!--//summary-->
                      <div class="time">2009 - 2012</div>					
					  </div></div>
					  <div class="details">
                        <p>Option informatique Generale</p>  
                       
                    </div><!--//details-->
					</div>
										<div class="item">
                    <div class="meta">
                        <div class="upper-row">
						<div class="summary">
                    <p> Baccalaureat</p> </div><!--//summary-->
                      <div class="time">2008 - 2009</div>					
					  </div></div>
					  <div class="details">
                        <p>Baccalauréat technique mathématique-série génie électrique</p>  
                       
                    </div><!--//details-->
					</div>
						
            </section><!--//section-->
            
          
            
            <section class="section projects-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-archive"></i></span>Projets</h2>
                <div class="intro">
                    <p>Voici quelque projects que j'ai fait durant mon apprentissage .</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a>Python</a></span> - <span class="project-tagline">Analyse des comportements des usagers cas des utilisateurs algerien sur le reseau twitter .</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a>Java</a></span> - 
                    <span class="project-tagline">Logiciel de caisse pour une cafeteria</span>
                </div><!--//item-->
               
                <div class="item">
                    <span class="project-title"><a href="https://slideplayer.fr/slide/1185742/" target="_blank">Systeme Embarque</a></span> - <span class="project-tagline">installation et compréhension du fonctionnement du simulateur modelsim</span>
                </div><!--//item-->
            </section><!--//section-->
            
            <section class="skills-section section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-rocket"></i></span>COMPETENCES</h2>
                <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title">Python</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 80%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                               
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Javascript</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 65%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                              
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">PHP</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 70%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">HTML5 &amp; CSS</h3>
                        <div class="progress level-bar">
							    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 85%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                                
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Java</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 65%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                                  
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Photoshop</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                                 
                    </div><!--//item-->
                    
                </div>  
            </section><!--//skills-section-->
            
        </div><!--//main-body-->
    </div>
 
    <footer class="footer">
        <div class="text-center">
                <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other commercial license options via our website: themes.3rdwavemedia.com */-->
        </div><!--//container-->
    </footer><!--//footer-->
        
</body>
</html> 

