<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Curriculum Vitae</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	
	
	<!-- Font -->
	
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura" rel="stylesheet">
	
	<!-- Stylesheets -->
	
	<link href="common-css/bootstrap.css" rel="stylesheet">
	
	<link href="common-css/ionicons.css" rel="stylesheet">
	
	<link href="common-css/fluidbox.min.css" rel="stylesheet">
	
	<link href="02-cv-boxed/css/styles.css" rel="stylesheet">
	
	<link href="02-cv-boxed/css/responsive.css" rel="stylesheet">
	
</head>
<body>
	
	<section class="intro-section">
		<div class="container">
		
		
			<div class="intro">
				<div class="row">
				
					<div class="col-sm-8 col-md-4 col-lg-3">
						<div class="profile-img margin-b-30"><img src="images/photo.jpg" alt=""></div>
					</div><!-- col-sm-8 -->
					
					<div class="col-sm-10 col-md-5 col-lg-6">		
							<h2><b>Zahar OMARA</b></h2>
							<h4 class="font-yellow">Developpeur web & Designer</h4>
							<ul class="information margin-tb-30">
								<li><b class="font-yellow">Profession</b> : Etudiant</li>
							</ul>
							<ul class="social-icons">
								<li><a href="https://github.com/Zahar9"><i class="ion-social-github"></i></a></li>
								<li><a href="https://www.linkedin.com/in/zahar-omara-95135b183/"><i class="ion-social-linkedin"></i></a></li>
							</ul>
					</div><!-- col-sm-8 -->
					
					<div class="col-sm-10 col-md-3 col-lg-3">
						<a href="download/cv.pdf" download class="downlad-btn">Télécharger CV</a>
					</div><!-- col-lg-2 -->
				</div><!-- row -->
			
			</div><!-- intro -->
		</div><!-- container -->
	</section><!-- intro-section -->
	
	
	<section class="about-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-3">
					<div class="heading">
						<h3><b>A propos de moi</b></h3>
						<h6 class="font-lite-black"><b>Etudiant Web design</b></h6>
					</div>
				</div><!-- col-sm-3 -->
				<div class="col-sm-12 col-md-9">
					<p class="margin-b-50">Diplômé d'un titre de communication événementiel, je suis actuellement étudiant en licence pro "Design web mobile"
						à l'université de Paris 8 dans le but de me reconvertir aux métiers du numérique et plus particulièrement du 
						developement web.</p>
					
					<div class="row">
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="radial-prog-area margin-b-30">
								<div class="radial-progress" data-prog-percent=".37">
									<div></div>
									<h6 class="progress-title">HTML5 & CSS3</h6>
								</div>
							</div><!-- radial-prog-area-->
						</div><!-- col-sm-6-->
					
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="radial-prog-area margin-b-30">
								<div class="radial-progress" data-prog-percent=".50">
									<div></div>
									<h6 class="progress-title">WEB DESIGN</h6>
								</div>
							</div><!-- radial-prog-area-->
						</div><!-- col-sm-6-->
						
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="radial-prog-area margin-b-30">
								<div class="radial-progress" data-prog-percent=".45">
									<div></div>
									<h6 class="progress-title">JAVA</h6>
								</div>
							</div><!-- radial-prog-area-->
						</div><!-- col-sm-6-->
						
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="radial-prog-area margin-b-50">
								<div class="radial-progress" data-prog-percent=".47">
									<div></div>
									<h6 class="progress-title">PHP</h6>
								</div>
							</div><!-- radial-prog-area-->
						</div><!-- col-sm-6-->
					
					</div><!-- row -->
				</div><!-- col-sm-9 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- about-section -->
	
	<section class="experience-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-3">
					<div class="heading">
						<h3><b>Experiences professionnelles</b></h3>
					</div>
				</div><!-- col-sm-3 -->
				
				<div class="col-sm-12 col-md-9">
					<div class="experience margin-b-50">
						<h4><b>Chargé de communication</b></h4>
						<h5 class="font-yellow"></h5>Société Comoncloud</h5>
						<h6 class="font-lite-black margin-t-10">OCT. 2018 - JUIN 2018</h6>
						<ul class="list margin-b-30">
							<li>Mise en place et suivi des campagnes de communication</li>
							<li>Édition de veilles concurrentielles & événementielles</li>
							<li>Édition de propositions commerciales</li>
						</ul>
					</div><!-- experience -->
					
					<div class="experience margin-b-50">
						<h4><b>Chargé de relation clientèle</b></h4>
						<h5 class="font-yellow"><b>Société Economie d'Energie</b></h5>
						<h6 class="font-lite-black margin-t-10">MARS 2017 - OCT. 2018</h6>
						<ul class="list">
							<li>Ecouter, conseiller et fideliser les clients inscrits au
								programme de primes CEE en facilitant leurs demarches de valorisation de leurs travaux d’économies d’énergies</li>
							<li>Qualifier et rendre compte des échanges (telephone, mail, courrier) et actions (inscription, creation et suivi de
								dossiers) menees au profit des beneficiaires des programmes</li>
						</ul>
					</div><!-- experience -->

					<div class="experience margin-b-50">
						<h4><b>Conseiller locataire</b></h4>
						<h5 class="font-yellow"><b>R.I.V.P</b></h5>
						<h6 class="font-lite-black margin-t-10">NOV. 2014 - MAI. 201</h6>
						<ul class="list">
							<li>Assurer la prise en charge des appels telephoniques des locataires en garantissant la qualitéde la relation telephonique et la fiabilité des reponses</li>
							<li>Assurer les reponses aux demandes des locataires et transmettre les sollicitations aux agences ou services selon le niveau de la reclamation</li>
							<li>Assurer le suivi et la traçabilitédes demandes dans un outil de gestion informatise</li>
						</ul>
					</div><!-- experience -->
					
				</div><!-- col-sm-9 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- experience-section -->
		
	
	<section class="education-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-3">
					<div class="heading">
						<h3><b>Formations</b></h3>
						<h6 class="font-lite-black"><b>Diplômes et Titres</b></h6>
					</div>
				</div><!-- col-sm-3 -->
				
				<div class="col-sm-12 col-md-9">
				
					<div class="education-wrapper">
						<div class="education margin-b-50">
							<h4><b>Licence professionnelle Métiers du numérique</b></h4>
							<h4>Conception, rédaction et réalisation web Design web mobile</h4>
							<h5 class="font-yellow"><b>Université Paris 8</b></h5>
							<h6 class="font-lite-black margin-t-10">2019 - 2020</h6>
							<p class="margin-tb-30">Forme des professionnels aptes à concevoir et à 
							développer des applications multimédias en se focalisant plus particulièrement 
							sur les possibilités offertes par le web ou les réseaux d’information privés (intranet).</p>
						</div><!-- education -->
						
						<div class="education margin-b-50">
							<h4><b>Gestionnaire de projet communication événementiel</b></h4>
							<h5 class="font-yellow"><b>Esup'com</b></h5>
							<h6 class="font-lite-black margin-t-10">2018 - 2019</h6>
							<p class="margin-tb-30">La formation développe les compétences et les connaissances fondamentales 
							en communication et en gestion de projets.</p>
						</div><!-- education -->

						<div class="education margin-b-50">
							<h4><b>Bac professionnel de comptabilité</b></h4>
							<h5 class="font-yellow"><b>Lycée professionnel Sonia Delaunay</b></h5>
							<h6 class="font-lite-black margin-t-10">2008 - 2010</h6>
						</div><!-- education -->

					</div><!-- education-wrapper -->
				</div><!-- col-sm-9 -->
			</div><!-- row -->
		</div><!-- container -->
		
	</section><!-- education-section -->

	<div class="heading-wrapper">
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-4">
				<div class="info">
					<i class="icon ion-ios-location-outline"></i>
					<div class="right-area">
						<h5>4 rue René Clément</h5>
						<h5>93130 Noisy le sec</h5>
						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2622.7015307788547!2d2.4622505!3d48.9020251!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6132cf76f9665%3A0xdfc321f50c7f5095!2s4%20Rue%20Ren%C3%A9%20Cl%C3%A9ment%2C%2093130%20Noisy-le-Sec!5e0!3m2!1sfr!2sfr!4v1573817526799!5m2!1sfr!2sfr" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>							</div><!-- right-area -->
				</div><!-- info -->
			</div><!-- col-sm-4 -->
			
			<div class="col-sm-6 col-md-6 col-lg-4">
				<div class="info">
					<i class="icon ion-ios-telephone-outline"></i>
					<div class="right-area">
						<h5>Téléphone : 06 59 21 08 78</h5>
					</div><!-- right-area -->
				</div><!-- info -->
			</div><!-- col-sm-4 -->
			
			<div class="col-sm-6 col-md-6 col-lg-4">
				<div class="info">
					<i class="icon ion-ios-chatboxes-outline"></i>
					<div class="right-area">
						<h5>Mail : zahar.omara@laposte.net</h5>
					</div><!-- right-area -->
				</div><!-- info -->
			</div><!-- col-sm-4 -->
		</div><!-- row -->
	</div><!-- heading-wrapper -->
	
	
	<!-- SCIPTS -->
	
	<script src="common-js/jquery-3.2.1.min.js"></script>
	
	<script src="common-js/tether.min.js"></script>
	
	<script src="common-js/bootstrap.js"></script>
	
	<script src="common-js/isotope.pkgd.min.js"></script>
	
	<script src="common-js/jquery.waypoints.min.js"></script>
	
	<script src="common-js/progressbar.min.js"></script>
	
	<script src="common-js/jquery.fluidbox.min.js"></script>
	
	<script src="common-js/scripts.js"></script>
	
</body>
</html>