<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>CV - CHEBAH Megdouda</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	
	
	<!-- Font -->
	
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura" rel="stylesheet">
	
	<!-- Stylesheets -->
	
	<link href="common-css/bootstrap.css" rel="stylesheet">
	
	<link href="common-css/ionicons.css" rel="stylesheet">
	
	<link href="common-css/fluidbox.min.css" rel="stylesheet">
	
	<link href="02-cv-boxed/css/styles.css" rel="stylesheet">
	
	<link href="02-cv-boxed/css/responsive.css" rel="stylesheet">
	
</head>
<body>
	
	<section class="intro-section">
		<div class="container">
		
			<div class="heading-wrapper">
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="info">
							<i class="icon ion-ios-location-outline"></i>
							<div class="right-area">
								<a href="https://www.google.com/maps/place/127+Boulevard+de+Charonne,+75011+Paris/@48.8572233,2.3905125,17z/data=!3m1!4b1!4m5!3m4!1s0x47e66d8a50cb7e31:0xa36933cf1f8ba4a9!8m2!3d48.8572233!4d2.3927012"><h5>127 Boulevard de charonne</h5></a>
								<h5>Paris,75011</h5>
							</div><!-- right-area -->
						</div><!-- info -->
					</div><!-- col-sm-4 -->
					
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="info">
							<i class="icon ion-ios-telephone-outline"></i>
							<div class="right-area">
								<h5>06 XX XX XX XX</h5>
							</div><!-- right-area -->
						</div><!-- info -->
					</div><!-- col-sm-4 -->
					
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="info">
							<i class="icon ion-ios-chatboxes-outline"></i>
							<div class="right-area">
								<h5>megdouda.chebah@gmail.com</h5>
								<!-- <h6>Répond généralement dans 24h</h6> -->
							</div><!-- right-area -->
						</div><!-- info -->
					</div><!-- col-sm-4 -->
				</div><!-- row -->
			</div><!-- heading-wrapper -->
			
		
		
			<div class="intro">
				<div class="row">
				
					<div class="col-sm-8 col-md-4 col-lg-3">
						<div class="profile-img margin-b-30"><img src="images/megdouda.jpg" alt=""></div>
					</div><!-- col-sm-8 -->
					
					<div class="col-sm-10 col-md-5 col-lg-6">		
							<h2><b>Megdouda CHEBAH</b></h2>
							<h4 class="font-yellow">Développeuse web</h4>
							<ul class="information margin-tb-30">
								<li><b class="font-yellow">NÉE</b> :  10 Mars 1997</li>
								<li><b class="font-yellow">EMAIL</b> : megdouda.chebah@gmail.com</li>
								<!--<li><b class="font-yellow">STATUS</b> : Célibataire</li>-->
							</ul>
							<ul class="social-icons">
								<!-- <li><a href="#"><i class="ion-social-pinterest"></i></a></li> -->
								     <li><a href="https://www.linkedin.com/in/megdouda-chebah-238802197/"><i class="ion-social-linkedin"></i></a></li> 
								 <li><a href="https://github.com/ChebahMegdouda"><i class="ion-social-github"></i></a></li> 
								<!-- <li><a href="#"><i class="ion-social-facebook"></i></a></li> -->
								<li><a href="https://twitter.com/chebah_meg"><i class="ion-social-twitter"></i></a></li>
							</ul>
					</div><!-- col-sm-8 -->
					
					 <div class="col-sm-10 col-md-3 col-lg-3">
						<a class="downlad-btn" href ="Cv.pdf" download>Télécharger CV</a>  
					</div><!-- col-lg-2 -->
			
				</div><!-- row -->
			
			</div><!-- intro -->
		</div><!-- container -->
	</section><!-- intro-section -->
	
	
	<section class="about-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-3">
					<div class="heading">
						<h3><b>A PROPOS DE MOI</b></h3>
						<!--<h6 class="font-lite-black"><b>PROFESSIONAL PATH</b></h6>-->
					</div>
				</div><!-- col-sm-3 -->
				<div class="col-sm-12 col-md-9">
					<p class="margin-b-50">Chebah Megdouda, agée de 22 ans et titulaire d'un DUT Informatique, je poursuis actullement  une licence pro parcous design web et mobile, afin de perfectionner mes compétences dans le développement et conception web. À l'issue de cette licence, j'envisage d'intégrer un master en alternance.</br>
					Je suis passionnée par le chant et l'écriture.</p>
					
					<div class="row">
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="radial-prog-area margin-b-30">
								<div class="radial-progress" data-prog-percent=".60">
									<div></div>
									<h6 class="progress-title">HTML5 & CSS3</h6>
								</div>
							</div><!-- radial-prog-area-->
						</div><!-- col-sm-6-->

						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="radial-prog-area margin-b-30">
								<div class="radial-progress" data-prog-percent=".60">
									<div></div>
									<h6 class="progress-title">Java Script</h6>
								</div>
							</div><!-- radial-prog-area-->
						</div>
					
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="radial-prog-area margin-b-30">
								<div class="radial-progress" data-prog-percent=".78">
									<div></div>
									<h6 class="progress-title">UML</h6>
								</div>
							</div><!-- radial-prog-area-->
						</div><!-- col-sm-6-->
						
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="radial-prog-area margin-b-30">
								<div class="radial-progress" data-prog-percent=".70">
									<div></div>
									<h6 class="progress-title">SQL</h6>
								</div>
							</div><!-- radial-prog-area-->
						</div><!-- col-sm-6-->
						
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="radial-prog-area margin-b-50">
								<div class="radial-progress" data-prog-percent=".50">
									<div></div>
									<h6 class="progress-title">PHP</h6>
								</div>
							</div><!-- radial-prog-area-->
						</div><!-- col-sm-6-->
					
					</div><!-- row -->
				</div><!-- col-sm-9 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- about-section -->
	
	<section class="experience-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-3">
					<div class="heading">
						<h3><b>Expériences professionnelles</b></h3>
						<h6 class="font-lite-black"><b></b></h6>
					</div>
				</div><!-- col-sm-3 -->
				
				<div class="col-sm-12 col-md-9">
					<div class="experience margin-b-50">
						<h4><b>Assistante analyste fonctionnelle</b></h4>
						<h5 class="font-yellow"><b><a href="https://www.groupe-celios.fr/">CELIOS CONSEILS</a></b></h5>
						<h6 class="font-lite-black margin-t-10">24 Juin 2019 - 31 Juillet 2019</h6>
						<p class="margin-tb-30">Je suis intervenue au sein de <a href="https://www.asp-public.fr/">l'ASP</a>, client de <a href="https://www.groupe-celios.fr/">CELIOS CONSEILS</a>, afin de continuer ma mission de stage. </p>
						<ul class="list margin-b-30">
						<!--	<li>Rédaction et réalisation de tests fonctionnelles et techniques.</li>
							<li>Suivi de tests via XStudio.</li>
							<li>Proposition de nouvelles fonctionnalités pouvant rendre le site ergonomique.</li> -->
						</ul>
					</div><!-- experience -->
					
					<div class="experience margin-b-50">
						<h4><b>Stage : Réalisation de tests fonctionnels et techniques</b></h4>
						<h5 class="font-yellow"><b><a href="https://www.asp-public.fr/">ASP - Agence de service et de paiement</a></b></h5>
						<h6 class="font-lite-black margin-t-10">15 Avril 2019 - 21 Juin 2019</h6>
						<p class="margin-tb-30">Réalisation de recettes fonctionnelles et techniques pour un une application web gérant plus de 200 applications de l'entreprise. </p>
						<ul class="list">
							<li>Rédaction et réalisation de tests fonctionnelles et techniques.</li>
							<li>Suivi des tests via XStudio.</li>
							<li>Proposition de nouvelles fonctionnalités pouvant rendre le site ergonomique.</li>
						</ul>
					</div><!-- experience -->
					
				</div><!-- col-sm-9 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- experience-section -->
	
	<!-- <section class="portfolio-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-3">
					<div class="heading">
						<h3><b>Portfolio</b></h3>
						<h6 class="font-lite-black"><b>MES TRAVAUX</b></h6>
					</div>
				</div><!-- col-sm-3 --> 
				
				<!-- <div class="col-sm-12 col-md-9">
					<div class="portfolioFilter clearfix margin-b-80">
						<a href="#" data-filter="*" class="current"><b>ALL</b></a>
						<a href="#" data-filter=".web-design"><b>WEB DESIGN</b></a>
						<a href="#" data-filter=".branding"><b>BRANDING</b></a>
						<a href="#" data-filter=".graphic-design"><b>GRAPHIC DESIGN</b></a> >
					</div><!-- portfolioFilter -->
				</div><!-- col-sm-8 -->
			</div><!-- row --> 
		
			<!-- <div class="portfolioContainer  margin-b-50">
				
				<div class="p-item web-design">
					<a href="images/portfolio-13-400x400.jpg" data-fluidbox>
						<img src="images/portfolio-13-400x400.jpg" alt=""></a>
				</div><!-- p-item -->
				
				<!-- <div class="p-item branding graphic-design">
					<a href="images/portfolio-14-400x400.jpg" data-fluidbox>
						<img src="images/portfolio-14-400x400.jpg" alt=""></a>
				</div><!-- p-item -->
				
				<!-- <div class="p-item web-design">
					<a href="images/portfolio-15-400x400.jpg" data-fluidbox>
						<img src="images/portfolio-15-400x400.jpg" alt=""></a>-->
				</div><!-- p-item -->
				
				<!-- <div class="p-item graphic-design">
					<a class="img" href="images/portfolio-16-400x400.jpg" data-fluidbox>
						<img src="images/portfolio-16-400x400.jpg" alt=""></a>-->
				</div><!-- p-item -->
				
				<!-- <div class="p-item branding graphic-design">
					<a href="images/portfolio-17-400x400.jpg" data-fluidbox>
						<img src="images/portfolio-17-400x400.jpg" alt=""></a>-->
				</div><!-- p-item -->
				
				<!-- <div class="p-item graphic-design web-design">
					<a href="images/portfolio-18-400x400.jpg" data-fluidbox>
						<img src="images/portfolio-18-400x400.jpg" alt=""></a>-->
				</div><!-- p-item -->
				
				<!-- <div class="p-item  graphic-design branding">
					<a href="images/portfolio-19-400x400.jpg" data-fluidbox>
						<img src="images/portfolio-19-400x400.jpg" alt=""></a>-->
				</div><!-- p-item -->
					
				<!-- <div class="p-item web-design branding">
					<a href="images/portfolio-20-400x400.jpg" data-fluidbox>
						<img src="images/portfolio-20-400x400.jpg" alt=""></a> -->
				</div><!-- p-item -->
			
			</div><!-- portfolioContainer -->
		</div><!-- container -->
	</section><!-- portfolio-section --> 
	
	
	<section class="education-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-3">
					<div class="heading">
						<h3><b>Education</b></h3>
						<h6 class="font-lite-black"><b></b></h6>
					</div>
				</div><!-- col-sm-3 -->
				
				<div class="col-sm-12 col-md-9">
				
					<div class="education-wrapper">
						<div class="education margin-b-50">
							<h4><b>Licence professionnelle Design web et mobile</b></h4>
							<h5 class="font-yellow">
								<a href="https://www.univ-paris8.fr/-Licence-professionnelle-Design-web-mobile-613-"><b>Université Paris 8 | Vincennes - Saint-Denis </b></a></h5>
							<h6 class="font-lite-black margin-t-10">À partir des compétences particulières en design ou développement, ce diplome vise à apprendre à concevoir et optimiser des objets multimédias publiés sur internet. </h6>
							<p class="margin-tb-30"></p>
						</div><!-- education -->
						
						<div class="education margin-b-50">
							<h4><b>DUT Informatique</b></h4>
							<h5 class="font-yellow"><a href="http://www.iut.unilim.fr/les-formations/dut/informatique/"><b>IUT Limousin - Université de Limoges</b></a></h5>
							<h6 class="font-lite-black margin-t-10">Diplome obtenu en juin 2019</h6>
							<p class="margin-tb-30">Au cours de mes études en IUT Informatique, j'ai acquis des compétences à la fois sur le plan fonctionnel et technique. j'ai été ammenée à réaliser plusieurs projets de conception et de développement.</p>
						</div><!-- education -->
						
						<div class="education margin-b-50">
							<h4><b>BAC spécialité mathématique</b></h4>
							<h5 class="font-yellow"><b>Lycée Debih Cherif, Algérie.</b></h5>
							<h6 class="font-lite-black margin-t-10"> Obtenu en 2016 - Mention Assez bien </h6>
							<p class="margin-tb-30"></p>
						</div><!-- education -->
					</div><!-- education-wrapper -->
				</div><!-- col-sm-9 -->
			</div><!-- row -->
		</div><!-- container -->
		
	</section><!-- education-section -->
	
	<footer>
		<p class="copyright">
			<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<!-- Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ion-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> -->
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2625.051765038836!2d2.390512515267757!3d48.85722327928735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66d8a50cb7e31%3A0xa36933cf1f8ba4a9!2s127%20Boulevard%20de%20Charonne%2C%2075011%20Paris!5e0!3m2!1sfr!2sfr!4v1573812412979!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
		</p>
	</footer>
	
	
	<!-- SCIPTS -->
	
	<script src="common-js/jquery-3.2.1.min.js"></script>
	
	<script src="common-js/tether.min.js"></script>
	
	<script src="common-js/bootstrap.js"></script>
	
	<script src="common-js/isotope.pkgd.min.js"></script>
	
	<script src="common-js/jquery.waypoints.min.js"></script>
	
	<script src="common-js/progressbar.min.js"></script>
	
	<script src="common-js/jquery.fluidbox.min.js"></script>
	
	<script src="common-js/scripts.js"></script>
	
</body>
</html>